[Unit]
Description=Set the hostname to the mac address
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/opt/change_hostname.sh
TimeoutSec=0

[Install]
WantedBy=basic.target